name: Deploy website content to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      website_changed: ${{ steps.check_changes.outputs.detected }}
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check for changes in the website directory
        id: check_changes
        run: |
          if git diff --quiet HEAD^ HEAD -- ./website; then
            echo "No changes detected in ./website"
            echo "detected=false" >> $GITHUB_OUTPUT
          else
            echo "Changes detected in ./website"
            echo "detected=true" >> $GITHUB_OUTPUT
          fi

      - name: Install, build, and upload your site
        if: steps.check_changes.outputs.detected == 'true'
        uses: withastro/action@v3
        with:
          path: ./website
          node-version: 24

  deploy:
    needs: build
    if: needs.build.outputs.website_changed == 'true'
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
