name: build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run tests and code coverage
        id: test
        run: npm run test

  upload-reports:
    if: failure() && needs.test.outputs.outcome == 'failure'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - core
          - react
          - vue
    steps:
      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.project }}-playwright-report
          path: packages/${{ matrix.project }}/playwright-report/
          retention-days: 7
